.main_board {
	background: url(../img/bg.png);
	background-position: center;
	background-repeat: no-repeat;
}

.O {
	background-image: url(../img/o.png);
}

.X {
	background-image: url(../img/x.png);
}