body {
	font-family: sans-serif;
	color: #333;
	background: url(../img/bg-full-2.png);
	background-repeat: no-repeat;
}

/*    *    *    *    *    *    *    *    *    *    *    *    *    *    *    *    *    *    *    *    *    *    *    *    *    */

.main_board {
	background: url(../img/bg.png);
	background-position: center;
	background-repeat: no-repeat;
	display: none;
	/*
	border: 1px solid black;
	*/
}

.main_message {
	background-color: rgba(100, 100, 100, 0.5);
	width: 629px;
	height: 351px;
	line-height: 333px;
	border: 1px solid black;
	text-align: center;
}

.main_board_parent {
	width: 620px;
	height: 420px;
	line-height: 420px;
	vertical-align: middle;
}

.O {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/o.png);
	/*
	border: 1px solid black;
	*/
}

.X {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/x.png);
	/*
	border: 1px solid black;
	*/
}

/*    *    *    *    *    *    *    *    *    *    *    *    *    *    *    *    *    *    *    *    *    *    *    *    *    */

.main_board_top {
	padding-top: 7px;
	padding-bottom: 7px;
	width: 620px;
	text-align: center;
}

.main_board_top > img, .main_board_top > div {
	float: left;
}

td.counter {
	font-size: 38pt;
}

div.life {
	width: 200px;
	height: 25px;
	border: 1px solid gray;
	background-color: yellow;
}
div.life_red {
	width: 0;
	height: 25px;
	background-color: red;
}
td.life {
	padding-bottom: 12px;
}